*{
    margin:0px;
    padding: 0px;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
    align-items: center;
    justify-content: center;
    margin: auto;
}
main header{
    font-weight: 600;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    display: block;
}
#conteiner{
    margin: auto;
    min-width: 400px;
    max-width: 500px;
    padding: 15px;
}
#input div{
    margin: 5px 0px 17px 0px;
}
#input div p{
    text-align: justify;
    margin: auto;
    display: block;
}
#input div input{
    border: 1px solid black;
    border-radius: 6px;
    width: 99%;
    height: 25px;
}
#input div input:focus{
    outline: none;
}
#conteiner #send{
    margin-top: 35px;
}
#conteiner #send input{   
    display: block;
    margin:auto;
    width: 100%;
    height: 30px;

    color: white;
    border: 1px solid black;
    border-radius: 10px;
    background: #0808fa;
}
#conteiner #imgDemostração{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    
    min-width: 380px;
    max-width: 480px;
    
}
#conteiner #imgDemostração img{
    border-radius: 15px;
    width: 94%;
    
}
#conteiner #resultado{
    text-align: center;
}